name: Docker Build and Push
on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      image_name:
        required: true
        type: string
      dockerfile:
        required: false
        type: string
        default: Dockerfile
      password:
        required: false
        type: string
      username:
        required: false
        type: string
      platforms:
        required: false
        type: string
      runs_on:
        required: false
        type: string
        default: '["ubuntu-latest", "ubuntu-latest-arm64"]'
      build_args:
        required: false
        type: string
        default: ''
      id:
        required: false
        type: string
        default: ''
      context:
        required: false
        type: string
        default: .
      tag:
        required: false
        type: string
        default: ''
    secrets:
      service_account_key:
        required: false
      git_submodule_token:
        required: false
      docker_registry_token:
        required: false

jobs:
  build:
    strategy:
      matrix:
        runs_on: ${{ fromJSON(inputs.runs_on) }}
    runs-on: ${{ matrix.runs_on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.git_submodule_token || github.token }}
      - name: Prepare.
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      - name: Set up QEMU.
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx.
        uses: docker/setup-buildx-action@v3
      - name: Log in to container registry.
        if: ${{ inputs.registry == 'ghcr.io' }}
        uses: FhenixProtocol/actions/.github/actions/registry-login@v1.0.5
        with:
          service_account_key: ${{ secrets.service_account_key }}
          registry: ${{ inputs.registry }}
          docker_registry_token: ${{ secrets.docker_registry_token }}
      - name: Extract metadata (tags, labels) Docker image.
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.registry }}/${{ inputs.image_name }}
      - name: Build and push  ${{ inputs.image_name }} Docker image.
        id: build
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          platforms: ${{ inputs.runs_on }}
          file: ${{ inputs.dockerfile }}
          tags: ${{ inputs.registry }}/${{ inputs.image_name }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: ${{ inputs.build_args }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"
      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.runs_on }}-${{ inputs.id }}-${{ github.job }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1
  merge:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Push digests
        uses: FhenixProtocol/actions/.github/actions/push-digests@v1.0.5
        with:
          registry: ${{ inputs.registry }}
          image_name: "${{ inputs.image_name }}"
          service_account_key: ${{ secrets.service_account_key }}
          docker_registry_token: ${{ secrets.docker_registry_token }}
          runs_on: "ubuntu-latest"
          id: ${{ inputs.id }}
          tag: ${{ inputs.tag }}
