name: Test build actions

on:
  workflow_call:

  pull_request:
    paths:
    - '.github/**'

jobs:
  build-and-push:
    permissions:
        contents: read
        packages: write
    uses: FhenixProtocol/actions/.github/workflows/docker_build.yml@alon.dotan/feature/support_builders
    with:
        registry: 'ghcr.io'
        image_name: 'fhenixprotocol/actions/ubuntu'
        id: 'ubuntu'
