name: Test build actions

on:
  workflow_call:

  pull_request:
    paths:
    - '.github/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.git_submodule_token || github.token }}
      - name: Build
        uses: ./.github/workflows/docker_build.yml
        with:
            registry: 'ghcr.io'
            image_name: 'fhenixprotocol/actions/ubuntu'
            id: 'ubuntu'
