name: Test build actions

on:
  workflow_call:

  pull_request:
    paths:
    - '.github/workflows/**'    

jobs:
  build-and-push:
    permissions:
        contents: read
        packages: write
    uses: ./.github/workflows/docker_build.yml
    with:
        registry: 'ghcr.io'
        image_name: 'fhenixprotocol/actions/ubuntu'
        id: 'ubuntu'
